/* Scriptable */
.text-scriptable-node {
    min-height: 50px;
    border: 1px solid rgba(14, 14, 14, 0);
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(6, 248, 196, 0.527);
  }
  
.text-scriptable-node label {
  display: block;
  color: black;
  font-size: 12px;
}

/* Enum */
.text-enum-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(200, 6, 248, 0.527);
}

.text-enum-node label {
display: block;
color: black;
font-size: 12px;
}

/* Asmdef */
.text-asmdef-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 155, 5, 0.527);
}

.text-asmdef-node label {
display: block;
color: black;
font-size: 12px;
}

/* Prefab */
.text-prefab-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(9, 5, 255, 0.527);
}

.text-prefab-node label {
display: block;
color: black;
font-size: 12px;
}

/* GameObject */
.text-gameobject-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 34, 5, 0.856);
}

.text-gameobject-node label {
display: block;
color: black;
font-size: 12px;
}
.gameobject-node-body {
  padding: 10px;
}
.gameobject-node-element {
  position: relative;
  margin-bottom: 10px;
}

/* Class */
.text-class-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(30, 255, 0, 0.527);
}

.text-class-node label {
display: block;
color: black;
font-size: 12px;
}

/* Interface */
.text-interface-node {
  min-height: 50px;
  border: 1px solid rgba(14, 14, 14, 0);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(5, 226, 255, 0.527);
}

.text-interface-node label {
display: block;
color: black;
font-size: 12px;
}
